---
import Header from '../components/Header.astro'
import MovieCards from '../components/MovieCards.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Welcome to Astro.">
	<main class="bg-gray-800 pb-6 sm:pb-8 lg:pb-12">
		<Header />
		<MovieCards />
	</main>
</Layout>
