<header class="body-font mt-6 bg-gray-800 text-gray-400">
	<div
		class="container mx-auto flex flex-col flex-wrap items-center justify-between p-5 md:flex-row"
	>
		<a class="title-font mb-4 flex items-center font-medium text-white md:mb-0">
			<svg
				width="95"
				height="94"
				viewBox="0 0 95 94"
				class="h-auto w-6 text-indigo-500"
				fill="currentColor"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M96 0V47L48 94H0V47L48 0H96Z"></path>
			</svg>
			<span class="ml-3 text-5xl">WMDB</span>
		</a>
		<nav class="flex flex-wrap items-center justify-center text-2xl">
			<a class="mr-5 cursor-pointer p-4 hover:text-white">Reviews</a>
			<a class="mr-5 cursor-pointer p-4 hover:text-white">Plot</a>
			<a class="mr-5 cursor-pointer p-4 hover:text-white">Cast</a>
		</nav>
	</div>
</header>
